@keyframes startPlaying {
  0% {
    transform: translateX(0);
    border-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 640px;
  }

  50% {
    height: 371px;
    transform: translateY(36%) translateX(-48%);
  }

  100% {
    transform: translateX(-48%) translateY(36%) scale3d(1.93, 1.72, 1.5);
    height: 371px;
  }
}

@keyframes stopPlaying {
  0% {
    transform: translateX(-48%) translateY(36%);
    border-radius: 40px;
    height: 371px;
  }

  50% {
    height: 371px;
    transform: translateY(36%) translateX(-48%);
  }

  100% {
    transform: translateX(0) translateY(0);
    height: 640px;
  }
}

@keyframes opace {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.iFramePlayer__containerPlaying {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 36.25%;
  border-radius: 40px;
  animation: opace 1s ease-out;
}

.iFramePlayer__iframePlaying {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  pointer-events: none;
}

.iFrameControls__wrapper {
  position: absolute;
  bottom: -70px;
  right: 0;
  display: flex;
  gap: 1rem;
  animation: opace 0.8 ease-out;

  @media screen and (max-width: 460px) {
    bottom: 50px;
    left: 17%;
  }
}

.iFramePlayer__button {
  width: 75px;
  border-radius: 40px;
}
