.cardInfo__textTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 16px 12px 19px;
  margin-right: 28px;
  gap: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
}
