.card__info__text {
  position: relative;
  display: flex;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 600;

  &__time {
    display: flex;
    justify-content: space-between;
    width: 99px;
    margin-right: 28px;

    &::before {
      position: absolute;
      top: -18px;
      left: 6px;
      display: flex;
      content: "_";
      font-weight: bold;
    }
  }
}
