@keyframes startPlaying {
  0% {
    transform: translateX(0);
    border-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 640px;
  }

  50% {
    height: 371px;
    transform: translateY(36%) translateX(-48%);
  }

  100% {
    transform: translateX(-48%) translateY(36%) scale3d(1.93, 1.72, 1.5);
    height: 371px;
  }
}

@keyframes stopPlaying {
  0% {
    transform: translateX(-48%) translateY(36%);
    border-radius: 40px;
    height: 371px;
  }

  50% {
    height: 371px;
    transform: translateY(36%) translateX(-48%);
  }

  100% {
    transform: translateX(0) translateY(0);
    height: 640px;
  }
}

.iFramePlayer__containerPlaying {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 640px;
  padding-top: 36.25%;
  border-radius: 40px;
  align-self: center;
  pointer-events: none;
}

.iFramePlayer__iframePlaying {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
