@keyframes startPlaying {
  0% {
    transform: translateX(0);
    border-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 640px;
  }

  50% {
    height: 371px;
    transform: translateY(36%) translateX(-48%);
  }

  100% {
    transform: translateX(-48%) translateY(36%) scale3d(1.93, 1.72, 1.5);
    height: 371px;
  }
}

@keyframes stopPlaying {
  0% {
    transform: translateX(-48%) translateY(36%) scale3d(1.93, 1.72, 1.5);
    border-radius: 40px;
    height: 371px;
  }

  50% {
    height: 371px;
    transform: translateY(36%) translateX(-48%);
  }

  100% {
    transform: translateX(0);
    height: 640px;
  }
}

.IFramePlayer__container {
  width: 100%;
  height: 640px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  transform: translateX(0);
  animation: stopPlaying 1s ease-in-out;
  pointer-events: none;
}

.iFramePlayer__containerPlaying {
  width: 100%;
  height: 371px;
  border-radius: 30px;
  animation: startPlaying 1s ease-in-out;
  transform: translateX(-48%) translateY(36%) scale3d(1.93, 1.72, 1.5);
}

.iFramePlayer__buttonWrapper {
  display: flex;
  width: 200px;
  position: absolute;
  bottom: 210px;
  left: 310px;
}

.iFramePlayer__buttonWrapperPlaying {
  display: flex;
  width: 200px;
  position: absolute;
  bottom: 100px;
  left: 40%;
}
