.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55px;
  padding: 0 10px;
}
.postCaption {
  font-size: 12px;
  color: #262626;
}

.postAuthor {
  font-weight: bold;
}

.postDate {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}
