$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
.recipeCard {
  display: flex;
  background: var(--global-background-color);
  border: 0;
  text-align: left;
  gap: 0.25rem;
  flex-direction: column;
  width: 100%;
  justify-items: stretch;

  &:hover {
    cursor: pointer;
  }
  &:hover > &__body {
    color: var(--accent-color);
  }
  @media screen and (min-width: $breakpoint-medium) {
    flex-direction: row;
    height: 120px;
    gap: 1.5rem;
  }
  &__imageWrapper {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 220px;
    flex: none;
    @media (min-width: $breakpoint-medium) {
      //max-width: 180px;
      width: 150px;
      height: 120px;
    }
    @media (min-width: $breakpoint-large) {
      max-width: 180px;
      height: 120px;
      display: block;
    }
    align-self: center;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
  }
  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &__title {
      letter-spacing: -0.04em;
      margin: 0.5rem 0;
      font-size: 1.2rem;
      line-height: 28px;
      text-overflow: ellipsis;
    }
    &__author {
      display: flex;
      align-items: center;
      color: var(--muted-text-color);
    }
  }
}
