.header__padding {
  height: Max(9vh, 40px);
}

.header {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
  height: 9vh;
  min-height: 40px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: var(--global-background-color);

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: 20% 60% 20%;
    align-items: center;
  }
}
