@keyframes onPlayButton {
  0% {
    transform: translateY(-110px) translateX(-40%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes onStopButton {
  0% {
    transform: translateY(110px) translateX(40%);
  }

  100% {
    transform: translateY(0);
  }
}

.highlightInfo {
  width: 620px;
  min-width: 620px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e7fafe;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 50px;

  @media screen and(max-width: 1024px) {
    width: 100%;
    border-radius: 50px;
  }
}

.highlightInfo__hotAlert {
  background-color: #ffffff;
  border-radius: 30px;
  height: 45px;
  width: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-weight: 500;
}

.highlightInfo__hotAlertImg {
  width: 24px;
  height: 24px;
}

.highlightInfo__title {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -2px;
}

.highlightInfo__text {
  color: rgba(0, 0, 0, 0.6);
  line-height: 28px;
  margin-bottom: 17px;
}

.hightlightInfo__details {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  height: 40px;
}

.HighlightAuthor__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.iFramePlayer__buttonWrapper {
  display: flex;
  width: 200px;
  height: 60px;
  animation: onStopButton 0.8s ease-out;
}

.iFramePlayer__buttonWrapperPlaying {
  display: flex;
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 100px;
  left: 42%;
  animation: onPlayButton 0.8s ease-out;
}
