.submitButton {
  display: flex;
  background-color: var(--global-text-color);
  color: var(--global-background-color);
  padding: 1rem;
  border: 0;
  border-radius: 16px;
  width: 100%;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.5rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.submitButton:hover {
  background-color: var(--accent-color);
  color: var(--global-text-color);
  transform: scale(1.01);
}

.submitButton:focus {
  outline: none;
  background-color: var(--accent-color);
  color: var(--global-text-color);
}

.submitButton__disabled {
  background-color: rgba(0, 0, 0, 0.553);
  color: var(--global-background-color);
  padding: 1rem;
  border: 0;
  border-radius: 16px;
  width: 100%;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.5rem;
}
