@use "../../styles/global.scss";

.card {
  position: relative;
  background-color: global.$card-background-color;
  width: 100%;
  padding-top: clamp(3rem, 4vw, 5rem);
  padding-bottom: clamp(4rem, 4vw, 5rem);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 60px;
  overflow: hidden;
  z-index: -2;
  &__title {
    font-size: 1.875rem;
    color: global.$primary-text-color;
    text-align: center;
    margin-bottom: 1.55rem;
    overflow-wrap: break-word;
  }
  &__description {
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: clamp(1rem, 5vw, 4rem);
    width: Min(calc(100% - 4rem), 620px);
    overflow-wrap: break-word;
  }
  &__backgroundImage {
    position: absolute;
    z-index: -1;
    &--left {
      width: 400px;
      left: -175px;
      bottom: -175px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(30deg);
    }
    &--right {
      height: 355px;
      right: -120px;
      bottom: -120px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.1));
    }
    &--float {
      height: 90px;
      right: 245px;
      bottom: 80px;
      transform: rotate(-31.51deg);
    }
  }
}

.form {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  &__input {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: Min(calc(100% - 1.5rem), 480px);
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: Min(calc(100% - 1.5rem), 480px);
    margin-top: 1.75rem;
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: Min(calc(100% - 4rem), calc(50% + 240px));
      margin-top: 0;
      transform: translate(calc(-1rem - 100%), -50%);
      width: 160px;
    }
  }
}
