.carouselWrapper {
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-right: 40px;
  scroll-snap-align: start;
  isolation: isolate;

  &:last-child {
    margin: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    display: flex;
    gap: 2.5rem;
  }

  &__scrollButton {
    position: absolute;
    background-color: transparent;
    background-image: url("/images/Union.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    z-index: 1;
    top: calc(35% - 60px);
    height: 46px;
    width: 31px;
  }

  &__scrollButton--left {
    transform: translateY(50%);
    margin: 0;
  }

  &__scrollButton--right {
    right: 4.7px;
    transform: translateY(50%) rotate(180deg);
  }
}

@media screen and (min-width: 1394px) {
  .carousel {
    &__scrollButton--left {
      display: none;
    }
    &__scrollButton--right {
      display: none;
    }
  }
}
