@use "../../../styles/global";

.imageCard {
  display: none;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0;
  grid-area: image;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.imageCard_backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
  border-radius: 30px;
  z-index: -1;
}

.imageCard_image {
  position: relative;
  height: 100%;
}
