.footer {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  height: 100%;
  width: min(100% - 2.25rem, 1280px);
  max-width: 1280px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 105px;
  padding-top: 4px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140px;
}

.descriptionText {
  color: var(--muted-text-color);
  font-size: clamp(1.05rem, 1.5vw, 1.5rem);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  width: 95%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.copy {
  width: 100%;
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: var(--muted-text-color);
}

.webflow {
  color: #ff7967;
}

.socialMedia {
  margin: 7% 0;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 310px;
}

@media (min-width: 768px) {
  .divider {
    margin: 2% 0;
  }

  .navContainer {
    width: 40%;
  }
  .top {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .socialMedia {
    max-height: 2rem;
  }
}
