.card {
  width: 290px;
  height: 363px;
  position: relative;
  scroll-snap-align: center;
  list-style-type: none;
}

.card__heart {
  position: absolute;
  top: 18px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: white;
  border: 0;
  border-radius: 100%;
  cursor: pointer;

  &--liked {
    width: 20px;
    height: 18px;
  }

  &--notLiked {
    width: 20px;
    height: 18px;
    filter: saturate(0%) opacity(30%);
  }
}

.card__button {
  width: 290px;
  height: 200px;
  border: 0px;
  padding: 0;
  border-radius: 20px;
  cursor: pointer;
}

.card__container {
  width: 290px;
  height: 200px;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__link {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-size: 18px;
    letter-spacing: -0.04em;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 27px;
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    letter-spacing: -0.02em;
    font-weight: 600;

    &__time {
      display: flex;
      justify-content: space-between;
      width: 99px;
      margin-right: 28px;
    }

    &__time::before {
      position: absolute;
      top: -18px;
      left: 6px;
      display: flex;
      content: "_";
      font-weight: bold;
    }

    &__type {
      display: flex;
      justify-content: space-between;
      width: 80px;
    }
  }
}
