@use "@/styles/global";

$lg: 1250px;
$md: 1000px;
$sm: 620px;

@mixin breakpoint($breakpoint: $lg) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.Container{
    display: grid;
    grid-template-columns: 50% 50%;

    &__Title{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        font-size: 2.3rem;
    }

    &__Description{
        color: var(--muted-text-color);
        font-size: 0.8rem;
    }
}

.Recipes{

    &__List{
        display: grid;
        grid-template-columns: 50%;
        padding: 0;
        width: 100%;
        justify-content: center;
        @include breakpoint($sm){
            grid-template-columns: 50% 50%;
        }
        @include breakpoint($md){
            grid-template-columns: 30% 30% 30%;
        }
        @include breakpoint($lg){
            grid-template-columns: 25% 25% 25% 25%;
        }
    }
}