@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary-text-color: #000;
$primary-background-color: #fff;
$card-background-color: #e7f9fd;
$accent-color-logo: rgb(255, 166, 38);
$primary-button-color: #fff;
$primary-button-background-color: #000;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: $primary-text-color;
  background-color: $primary-background-color;
  font-family: "Inter", sans-serif;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body.stopTransition {
  * {
    animation: none !important;
    transition: none !important;
  }
}
