.HighlightAuthor__container {
  display: flex;
  flex-direction: row;
  height: 50px;
  gap: 1rem;
  margin-top: 104px;
}

.HighlightAuthor__image {
  width: 50px;
  height: 50px;
}

.HighlightAuthor__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HighlightAuthor__name {
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: -0.02em;
}

.HighlightAuthor__date {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
}
