@import "../../styles/global.scss";

.submitButton {
  background-color: $primary-button-background-color;
  color: $primary-button-color;
  padding: 1rem;
  border: 0;
  border-radius: 16px;
  width: 100%;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.5rem;
}

.submitButton:hover {
  background-color: $accent-color-logo;
  color: #000;
  transform: scale(1.01);
}

.submitButton:focus {
  outline: none;
  background-color: $accent-color-logo;
  color: #000;
}

.submitButton__disabled {
  background-color: rgba(0, 0, 0, 0.553);
  color: $primary-button-color;
  padding: 1rem;
  border: 0;
  border-radius: 16px;
  width: 100%;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.5rem;
}
