.modalCard {
  padding: 4rem;
  background-color: var(--global-background-color);
  color: var(--global-text-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  z-index: 100;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.553);
  z-index: 3;
}

.modalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 2rem;
  background-color: var(--global-background-color);
  color: var(--global-text-color);
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--accent-color);
  }
  &:focus {
    outline-color: var(--accent-color);
  }
}
