$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
.recipeCard {
  display: grid;
  background: var(--global-background-color);
  border: 0;
  text-align: left;
  gap: 1rem;
  width: 100%;
  grid-template-areas:
    "image"
    "title"
    "author";
  grid-template-rows: 1.5fr min-content min-content;
  &:hover {
    cursor: pointer;
  }
  &:hover > &__body {
    color: var(--accent-color);
  }
  @media screen and (min-width: $breakpoint-medium) {
    grid-template-areas:
      "image title"
      "image author";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    height: 120px;
    gap: 0.2rem 0.35rem;
  }
  &__imageWrapper {
    grid-area: image;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    @media (min-width: $breakpoint-medium) {
      //width: 150px;
    }
    @media (min-width: $breakpoint-large) {
      max-width: 180px;
      display: block;
    }
    align-self: center;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
  }

  &__title {
    grid-area: title;
    letter-spacing: -0.04em;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    line-height: 28px;
    text-overflow: ellipsis;
  }
  &__author {
    grid-area: author;
    color: var(--muted-text-color);
  }
}
