.categories {
  $c: &;
  width: 100%;
  display: grid;
  grid-template-areas:
    "heading"
    "list"
    "button";
  @media (min-width: 768px) {
    grid-template-areas:
      "heading button"
      "list list";
  }
  gap: 2rem;
  &__heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.04em;
    grid-area: heading;
  }
  &__list {
    grid-area: list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 1rem 0;

    &__item {
      list-style-type: none;
    }

    & li:nth-child(n + 2) {
      display: none;
    }
    @media screen and (min-width: 420px) {
      justify-content: space-between;
      & li:nth-child(2) {
        display: list-item;
      }
    }
    @media screen and (min-width: 610px) {
      & li:nth-child(3) {
        display: list-item;
      }
    }
    @media screen and (min-width: 810px) {
      & li:nth-child(4) {
        display: list-item;
      }
    }
    @media screen and (min-width: 970px) {
      & li:nth-child(5) {
        display: list-item;
      }
    }
    @media screen and (min-width: 1140px) {
      & li:nth-child(6) {
        display: list-item;
      }
    }
  }
  &__button {
    height: 60px;
    width: 200px;
    grid-area: button;
    @media (min-width: 768px) {
      justify-self: end;
    }
  }
  &--extended #{$c}__list__item {
    display: list-item !important;
  }
}
