.categories {
  width: 100%;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 1rem;
    height: 202px;
    justify-content: space-between;
    padding: 0;

    &__item {
      list-style-type: none;
    }
  }
}
