@use "../../styles/global";

@mixin input_template {
  width: 100%;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
    border-color: global.$accent-color-logo;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: -0.02rem;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
  }
}

.sectionTitle {
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 4.5625rem;
  letter-spacing: -0.04em;
}

.contactForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.contactForm_Input {
  @include input_template;
}

.contactForm_Label {
  display: block;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 1rem 1rem 0 0;
  color: rgba(0, 0, 0, 0.6);
}

.contactForm_group {
  margin-bottom: 0.5rem;
}

.contactForm_textArea {
  @include input_template;
  max-width: 100%;
  min-width: 100%;
  resize: none;
}

.contactForm_group__textArea {
  grid-column: 1 / -1;
}
