@import "@/styles/global.scss";

.menuSlider {
  display: flex;

  .Item {
    margin: 0 0 6% 6%;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: $primary-text-color;
  }

  @media screen and (max-width: 1023px) {
    z-index: 1;
    transition-duration: 1s;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    font-weight: 500;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - Max(40px, 9vh));
    background-color: white;
    padding-top: 5%;

    &--on {
      transform: translateX(0);
    }

    &--off {
      transform: translateX(-100vw);
    }
  }
}

@media (min-width: 1024px) {
  .menuSlider {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .Item {
      margin: 0;
    }
  }
}
