@import "@/styles/global.scss";

.Menu {
  display: none;

  .Item {
    margin: 0 0 6% 6%;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: $primary-text-color;
  }
}

@media screen and (max-width: 1024px) {
  .Slider-On {
    display: flex;
    text-align: left;
    list-style-type: none;
    font-weight: 500;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 9%;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding-top: 5%;
    transform: translateX(0);
    transition-duration: 1s;
    z-index: 1;
  }

  .Slider-Off {
    display: flex;
    text-align: left;
    list-style-type: none;
    font-weight: 500;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 9%;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding-top: 5%;
    transform: translateX(-100vw);
    transition-duration: 1s;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .Menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .Item {
      margin: 0;
    }
  }
}
