@import "../../styles/global.scss";

@mixin Hamburguer () {
    width: 40px;
    border-radius: 5px;
    background-color: $primary-text-color;
    height: 6px;
    margin-bottom: 5px;
    transition: 1s;
}

.Menu-Hamburguer {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Menu-Top {
        @include Hamburguer();
    }

    .Menu-Middle {
        @include Hamburguer();
    }

    .Menu-Bottom {
        @include Hamburguer();
    }

    &.Rotation{
        .Menu-Top {
            transition: 1s;
            transform: translateY(11px) rotate(45deg);
        }
    
        .Menu-Middle {
            transition: 1s;
            opacity: 0;
        }
    
        .Menu-Bottom {
            transition: 1s;
            transform: translateY(-11px) rotate(-45deg);
        }
    }
}

@media(min-width:1024px) {
    .Menu-Hamburguer {
        display: none;
    }
}