@import "../../styles/global.scss";

@keyframes MenuSlider {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes MenuHamburguerTop {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: translateY(11px) rotate(45deg);
    }
}

@keyframes MenuHamburguerMid {
    0% {
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes MenuHamburguerBottom {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: translateY(-11px) rotate(-45deg);
    }
}

@mixin Hamburguer () {
    width: 40px;
    border-radius: 5px;
    background-color: black;
    height: 6px;
    margin-bottom: 5px;
}

@mixin Rotation ($Type, $Direction){
    animation-name: $Type;
    animation-duration: 1s;
    animation-direction: $Direction;
    animation-fill-mode: forwards;
}

.Menu-Hamburguer {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;

    .Menu-Top {
        @include Hamburguer();
    }

    .Menu-Middle {
        @include Hamburguer();
    }

    .Menu-Bottom {
        @include Hamburguer();
    }
}

.Menu {
    display: none;
    text-align: left;
    list-style-type: none;
    font-weight: 500;
}

.Slider-On {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 9%;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding-top: 5%;
    animation-name: MenuSlider;
    animation-duration: 1s;
    .Item{
        margin: 0 0 6% 6%;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;;
        color: $primary-text-color;
    }
}

.disable-scroll{
    overflow-y: hidden;
  }

.RotationTop{
    @include Rotation(MenuHamburguerTop, normal);
}

.RotationMid{
    @include Rotation(MenuHamburguerMid, normal)
}

.RotationBottom{
    @include Rotation(MenuHamburguerBottom, normal);
}

.UnRotationTop{
    @include Rotation(MenuHamburguerTop, reverse);
}

.UnRotationMid{
    @include Rotation(MenuHamburguerMid, reverse)
}

.UnRotationBottom{
    @include Rotation(MenuHamburguerBottom, reverse);
}

.Slider-Off {
    animation-direction: reverse;
}

@media(min-width:1024px) {
    .Menu-Hamburguer {
        display: none;
    }

    .Navigation {
        display: flex;
    }

    .Menu {
        display: none;
    }
}