.carouselWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-right: 40px;

  &__recipes {
    display: none;
    text-align: center;
    margin-top: -12px;
    margin-bottom: 80px;
    letter-spacing: -0.04em;
    font-weight: 600;
    font-size: 36px;
  }

  &:last-child {
    margin: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__scrollButton--left {
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 4.7px;
    height: 46px;
    width: 31px;
    background-color: transparent;
    background-image: url("/images/Union.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    transform: translateY(50%);
    margin: 0;
    cursor: pointer;
  }

  &__scrollButton--right {
    position: absolute;
    top: 60px;
    right: 4.7px;
    height: 46px;
    width: 31px;
    background-color: transparent;
    background-image: url("/images/Union.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transform: translateY(50%) rotate(180deg);
  }
}

.card__list {
  display: flex;
  gap: 2.5rem;
}

@media screen and (min-width: 1394px) {
  .carousel {
    overflow: hidden;
    justify-content: center;

    &__recipes {
      display: block;
    }

    &__scrollButton--left {
      display: none;
    }
    &__scrollButton--right {
      display: none;
    }
  }
}
