.carousel {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  padding-right: 40px;
  margin-left: 40px;

  &__recipes {
    display: none;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 32px;
    letter-spacing: -0.04em;
    font-weight: 600;
    font-size: 36px;
  }

  &:last-child {
    margin: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__scrollButton--left {
    z-index: 1;
    position: absolute;
    top: 67rem;
    left: 4.7px;
    height: 46px;
    width: 31px;
    background-color: transparent;
    background-image: url("/images/Union.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    margin: 0;
    cursor: pointer;
  }

  &__scrollButton--right {
    position: absolute;
    top: 67rem;
    right: 4.7px;
    height: 46px;
    width: 31px;
    background-color: transparent;
    background-image: url("/images/Union.png");
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.card__list {
  display: flex;
  gap: 2.5rem;
}

@media screen and (min-width: 768px) {
  .carousel {
    &__scrollButton--left {
      top: 68rem;
    }
    &__scrollButton--right {
      top: 68rem;
    }

    &__recipes {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    &__scrollButton--left {
      top: 68.3rem;
    }
    &__scrollButton--right {
      top: 68.3rem;
    }
  }
}

@media screen and (min-width: 1394px) {
  .carousel {
    justify-content: center;
    &__scrollButton--left {
      display: none;
    }
    &__scrollButton--right {
      display: none;
    }
  }
}
