.HighLightMovie__container {
  display: flex;
  width: 100vw;
  height: 100%;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.highLightMovie__iframe {
}
