@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.logo {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 1.8rem;
  align-self: center;
  width: 100%;
  &__dot {
    color: #ff7426;
  }
}
