@use "@/styles/global";

.Navigation {
    display: flex;
    justify-content: center;
    overflow: hidden;

    &__NavItem {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        color: var(--global-text-color);
        font-weight: 600;
        background-color: var(--global-background-color);
        border: 1px solid rgb(179, 179, 179);
        border-radius: 10px;
        margin: 0 10px;
        cursor: pointer;

        &--current{
            background-color: var(--global-text-color);
            color: var(--global-background-color);
        }

    }
}